{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}
  {{ request.site.name }} - {% translate 'account successfully activated' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <p>{% translate 'You have successfully activated your account!' %}</p>
        <p>{% translate 'Please click on the button below to log in to your brand new account.' %}</p>
        <div class="pt-2">
          <a href='{% url "login" %}' class="btn btn-primary px-4">{% translate 'Login' %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
