{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}
  {{ request.site.name }}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <h1 class="h2 text-muted mb-4">{% translate 'Home' %}</h1>
  </div>
</section>
{% endblock %}
