{% extends 'site_base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ request.site.name }} - {% translate 'log in to your account' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'registration/css/login.css' %}">
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        {% if 'logout' in message.tags.split %}
          <div class="alert alert-info alert-dismissible fade show mb-4" role="alert">
            {{ message | safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="{% translate 'Close' %}">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <h1 class="text-center h2 text-muted mb-4">{% translate 'Log in to your Account' %}</h1>
    <div class="row justify-content-center">
      <div class="col col-sm-11 col-md-9 col-lg-7 col-xl-5">
        <div class="card p-3 pt-4">
          <form method='post' action=''>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center mt-4">
              <input class="btn btn-primary px-5" type="submit" value="{% translate 'Log in' %}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
