{% extends 'site_base.html' %}

{% load i18n %}
{% block title %}
  {{ request.site.name }} - {% translate 'signup successful' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <p>{% blocktranslate with site_name=request.site.name %}Welcome to {{ site_name }}{% endblocktranslate %}</p>

        <p>{% translate 'Please activate your account using the link we have just sent to your email address.' %}</p>

        <p>{% translate 'The email containing the link may take up to fifteen minutes to get to you. So, please wait for it, if it has not yet arrived &mdash; and also check your spam while at it.' %}</p>

        <p>{% translate 'If the email does not arrive after fifteen minutes, please click on the button below to request a new activation link.' %}</p>

        <div class="pt-2">
          <a href='{% url "accounts:activation" %}' class="btn btn-primary px-4">{% translate 'Request new activation link' %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
