{% extends 'site_base.html' %}

{% load i18n %}
{% load core_tags %}

{% block title %}
  {{ request.site.name }} - {% translate 'Book Journey' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col col-md-10 col-lg-9">
        <h1 class="h2 text-muted mb-4">
        {% if not user|is_owner_of_book_journey:book_journey %}   
          {% translate 'The book journey of' %} <b>{{ book_journey.created_by.name }}</b>
        {% else %}
          {% translate 'Your book journey' %}
        {% endif %}
        </h1>
        <p>{% translate 'through ' %} <b><a href="{% url 'core:book_read' pk=book_journey.book.pk %}">{{ book_journey.book.title }}</a></b></p>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
  </div>
  <div class="container">
    {% if book_journey.has_chapter_journeys or user|is_owner_of_book_journey:book_journey %}
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-9">
        {% for chapter in book_journey.book.get_chapters %}
          {% if book_journey|has_chapter_journey_for_chapter:chapter %}
            {% include 'core/reusables/chapter_journey_card.html' with user=user book_journey=book_journey chapter=chapter chapter_journey=book_journey|get_chapter_journey_for_chapter:chapter %}
          {% elif user|is_owner_of_book_journey:book_journey %}
            {% include 'core/reusables/chapter_journey_start_card.html' with user=user book_journey=book_journey chapter=chapter %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
