{% extends 'site_base.html' %}

{% load i18n %}

{% block title %}
  {{ request.site.name }} - {% translate 'all books' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <h1 class="text-center h2 text-muted mb-4">{% translate 'All Books' %}</h1>
    <div class="row justify-content-center">
      {% for book in book_list %}
        {% include 'core/reusables/book_list_card.html' with book=book %}
      {% empty %}
        <p>Nothing to see here</p>
      {% endfor %}
    </div>
    <div class="row justify-content-center actions text-center">
      <a
        class="btn btn-primary px-4"
        href="{% url 'core:book_create' %}"
      >
       {% translate 'Add new book' %}
      </a>
    </div>
  </div>
</section>
{% endblock %}
