{% extends 'site_base.html' %}

{% load i18n %}
{% load static %}
{% load core_tags %}

{% block title %}
  {{ request.site.name }} - {{ book.title }}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-9">
        <h1 class="text-center h2 text-muted mb-4">{% translate 'Book Details' %}</h1>
        <ul class="nav nav-tabs" id="id_book_detail_tablist" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if active_tab == 'summary' %}active{% endif %}" id="id_summary_tab" data-toggle="tab" href="#id_summary" role="tab" aria-controls="id_summary" aria-selected="true">{% translate 'Summary' %}</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if active_tab == 'chapters' %}active{% endif %}" id="id_chapters_tab" data-toggle="tab" href="#id_chapters" type="button" role="tab" aria-controls="id_chapters" aria-selected="false">{% translate 'Chapters' %}</a>
          </li>
        </ul>
        <div class="tab-content" id="id_book_detail_tablist_content">
          <div class="tab-pane fade {% if active_tab == 'summary' %}show active{% endif %}" id="id_summary" role="tabpanel" aria-labelledby="id_summary_tab">
            {% include 'core/reusables/book_summary.html' with book=book %}
          </div>
          <div class="tab-pane fade {% if active_tab == 'chapters' %}show active{% endif %}" id="id_chapters" role="tabpanel" aria-labelledby="id_chapters_tab">
            {% include 'core/reusables/chapter_list.html' with book=book %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if book.is_published %}
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col col-md-10 col-lg-9">
        {% if user.is_authenticated and book|has_book_journey_by_user:user %}
        <h3 class="h6">Explore your book journey!</h3>
        {% with book|get_book_journey_by_user:user as book_journey_by_user %}
          <a
            href="{% url 'core:book_journey_read' pk=book_journey_by_user.pk %}"
            class="btn btn-success"
          >{% translate 'Explore' %}</a>
        {% endwith %}
        {% else %}
        <h3 class="h6">Start your journey with this book!</h3>
        <form method="post" action="{% url 'core:book_journey_create' book_pk=book.pk %}">
          {% csrf_token %}
          <button
            type="submit"
            class="btn btn-success"
          >
            {% translate 'Start book journey' %}
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'core/js/book_read.js' %}" ></script>
{% endblock %}
