{% extends 'site_base.html' %}

{% load i18n %}
{% load core_tags %}

{% block title %}
  {{ request.site.name }} - {% translate 'my books' %}
{% endblock %}

{% block main %}
<section class="py-5">
  <div class="container">

    <h1 class="text-center h2 text-muted mb-4">{% translate 'My Books' %}</h1>

    {% if messages %}
      {% for message in messages %}
        {% with message_tags=message.tags.split|to_set %}
          {% if 'book_delete' in message_tags %}
            <div
              class="alert alert-success alert-dismissible fade show mb-4"
              role="alert"
            >
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="{% translate 'Close' %}">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endwith %}
      {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
      {% for book in book_list %}
        {% include 'core/reusables/book_list_card.html' with book=book %}
      {% empty %}
        <p>{% translate "It looks like you've not added any books to Learnity yet." %}</p>
      {% endfor %}
    </div>
    <div class="row justify-content-center actions text-center">
      <a
        class="btn btn-primary px-4"
        href="{% url 'core:book_create' %}"
      >
       {% translate 'Add new book' %}
      </a>
    </div>
  </div>
</section>
{% endblock %}
