{% load humanize %}
{% load i18n %}

{% load core_tags %}

<div class="col-sm-11 col-md-9 col-lg-7 col-xl-5 mb-4">
  <div class="card border-secondary bg-light w-100 h-100">
    <div class="card-header pb-2"><a href="{% url 'core:book_read' pk=book.pk %}">{{ book.title|truncatechars:40 }}</a></div>
    <div class="card-body text-secondary py-2">
      <p class="card-text mb-0">{{ book.abstract }}</p>
      {% if book.is_published %}
      <p class="mb-0 text-right">
        <small class="font-weight-bold">
          {% translate 'Added' %}: {{ book.published_at|naturaltime }} {% translate 'by' %} {% if user|is_owner_of_book:book %}<strong>You</strong>{% else %}{{ book.created_by.name }}{% endif %}
        </small>
      </p>
      {% endif %}
    </div>
  </div>
</div>
