{% load i18n %}
{% load humanize %}
{% load core_tags %}

{% if messages %}
  {% for message in messages %}
    {% with message_tags=message.tags.split|to_set %}
      {% if 'book_create' in message_tags or 'book_update' in message_tags or 'book_publish' in message_tags %}
        <div
          class="alert
            {% if 'success' in message_tags %}
            alert-success
            {% elif 'warning' in message_tags %}
            alert-warning
            {% else %}
            alert-secondary
            {% endif %}
            alert-dismissible fade show mb-4"
          role="alert"
        >
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="{% translate 'Close' %}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endif %}

{% if not book.has_chapters and user|can_publish_book:book and not book.is_published %}
  <div class="alert alert-info fade show mb-4" role="alert">
    Try adding chapters to this book so you can publish it.
    <button type="button" class="close" data-dismiss="alert" aria-label="{% translate 'Close' %}">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<h2 class="header">{% translate 'Title' %}</h2>
<div class="content">{{ book.title }}</div>

{% if book.subtitle %}
<h2 class="header">{% translate 'Subtitle' %}</h2>
<div class="content">{{ book.subtitle }}</div>
{% endif %}

<h2 class="header">{% translate 'Abstract' %}</h2>
<p class="content">{{ book.abstract }}</p>

<h2 class="header">{% translate 'URL' %}</h2>
<p class="content"><a href="{{ book.url }}">{{ book.url }}</a></p>

<h2 class="header">{% translate 'Description' %}</h2>
<div class="content markdown">{{ book.description }}</div>

{% if book.is_published %}
<div>
  <b>{% translate 'Added' %}:</b>
  {{ book.published_at|naturaltime }} by
  {% if user|is_owner_of_book:book %}{% translate 'You' %}{% else %}{{ book.created_by.name }}{% endif %}
</div>
{% endif %}

{% include 'core/reusables/own_book_actions.html' with book=book user=user %}
