{% load i18n %}
{% load core_tags %}

{% if user|is_owner_of_book:book %}
<div class="actions d-flex justify-content-center">

  <a
    class="btn btn-warning px-3 mx-1"
    href="{% url 'core:book_update' pk=book.pk %}"
  >
    {% translate 'Update' %}
  </a>

  <!-- Buttons -->
  {% if not book.is_published and book.has_chapters %}
  <button
    id="id_publish"
    type="button"
    class="btn btn-primary px-3 mx-1"
    data-toggle="modal"
    data-target="#id_publish_modal"
    >
    {% translate 'Publish' %}
  </button>
  {% endif %}
  <button
    id="id_delete"
    type="button"
    class="btn btn-danger px-3 mx-1"
    data-toggle="modal"
    data-target="#id_delete_modal"
    >
    {% translate 'Delete' %}
  </button>

  <!-- Modals -->
  {% if not book.is_published and book.has_chapters %}
  <div class="modal fade" id="id_publish_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% translate "You're about to publish the book" %} <b>{{ book.title }}</b></p>
          <form method="post" action="{% url 'core:book_publish' pk=book.pk %}">
            {% csrf_token %}
            <div class="d-flex justify-content-end mt-4">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                {% translate 'Go back' %}
              </button>
              <button
                type="submit"
                class="btn btn-primary px-5 mx-3"
              >
                {% translate 'Confirm publish' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="modal fade" id="id_delete_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="text-danger">{% translate "You're about to delete the book" %} <b>{{ book.title }}</b>!</span>
          <form method="post" action="{% url 'core:book_delete' pk=book.pk %}">
            {% csrf_token %}
            <div class="d-flex justify-content-end mt-4">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                {% translate 'Go back' %}
              </button>
              <button
                type="submit"
                class="btn btn-primary px-5 mx-3"
              >
                {% translate 'Confirm delete' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endif %}
