{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
  {% if not is_popup %}
    <p>{% translate 'First enter a name, an email and a password. You’ll be able to edit more user options afterwards.' %}</p>
  {% else %}
    <p>{% translate "Enter a name, an email and a password." %}</p>
  {% endif %}
{% endblock %}
